[Unit]
Description=easyeffects EQ
Requires=pipewire.service
After=pipewire.service

[Service]
Type=simple
ExecStart=/usr/bin/easyeffects --gapplication-service
ExecStop=/usr/bin/easyeffects --quit

[Install]
WantedBy=default.target
