[Unit]
Description=nas-prune job
After=network-online.target
Wants=network-online.target
Wants=nas-prune.timer

[Service]
Type=simple
ExecStart=/usr/bin/rsync -rtsv --info progress2 --delete-excluded --exclude-from ~/.config/nas-backup/exclude --files-from ~/.config/nas-backup/include ~/ ~/nas/desktop-backup/

[Install]
WantedBy=multi-user.target
