[Unit]
Description = Logs manually installed packages

[Service]
Type=oneshot
ExecStart = /usr/local/sbin/manpack.sh dnf {{ manpack_dir }}/dnf.txt
ExecStart = /usr/local/sbin/manpack.sh flatpak {{ manpack_dir }}/flatpak.txt
# rotate auditd log
ExecStart = /usr/bin/systemctl kill -s USR1 auditd.service

[Install]
WantedBy = multi-user.target
