* {
    border: none;
    border-radius: 0;
    font-family: Noto Sans Mono;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.8);
    border-bottom: 3px solid rgba(100, 114, 125, 0.8);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.8);
  border: 1px solid rgba(100, 114, 125, 0.8);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-weather,
#custom-crypto,
#mode,
#cpu,
#memory,
#temperature,
#clock,
#tray {
    padding: 0 10px;
}

#tray {
    margin: 0 0 4px;
}
