[Unit]
Description=nas mount

[Mount]
What={{ smb_share }}
Where={{ smb_mountpoint }}
Type=cifs
Options=rw,file_mode=0660,dir_mode=0775,credentials={{ HOME }}/.smbpasswd,uid={{ UID }},gid={{ GID }},iocharset=utf8,vers=3
DirectoryMode=0775

[Install]
WantedBy=multi-user.target
