<domain type='kvm' xmlns:qemu='http://libvirt.org/schemas/domain/qemu/1.0'>

  <name>{{ vm.name }}</name>
  <uuid>{{ uuid }}</uuid>
  <memory unit='GiB'>{{ vm.memory }}</memory>
  <vcpu placement='static'>{{ vm.cores * vm.threads }}</vcpu>
{% if vm.iothread_pins is defined and vm.disk is defined and vm.disk_driver == 'virtio' %}
  <iothreads>1</iothreads>
{% endif %}

{% if vm.cpu_pins is defined or vm.emulator_pins is defined or vm.io_pins is defined %}
  <cputune>
{% if vm.cpu_pins is defined %}
{% for cpu_pin in vm.cpu_pins %}
    <vcpupin vcpu='{{ cpu_pin.vcpu }}' cpuset='{{ cpu_pin.cpuset }}'/>
{% endfor %}
{% endif %}

{% if vm.emulator_pins is defined %}
    <emulatorpin cpuset='{{ vm.emulator_pins }}'/>
{% endif %}

{% if vm.iothread_pins is defined and vm.disk is defined and vm.disk_driver == 'virtio' %}
    <iothreadpin iothread='1' cpuset='{{ vm.iothread_pins }}'/>
{% endif %}
  </cputune>
{% endif %}

  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <loader readonly='yes' type='pflash'>/usr/share/edk2/ovmf/OVMF_CODE.fd</loader>
    <nvram>/var/lib/libvirt/qemu/nvram/{{ vm.name }}_VARS.fd</nvram>
    <smbios mode='host'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <kvm>
      <hidden state='on'/>
    </kvm>
    <vmport state='off'/>
  </features>
  <cpu mode='host-passthrough' check='none'>
    <topology sockets='1' cores='{{ vm.cores }}' threads='{{ vm.threads }}'/>
  </cpu>
  <clock offset='localtime'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>
  <devices>

{% if vm.disk is defined %}
{% if vm.disk.split('.') | length == 2 and vm.disk.split('.')[1] == 'qcow2'%}
{% set disk_type = 'file' %}
{% set driver_type = 'qcow2' %}
{% set disk_source = 'file' %}
{% else %}
{% set disk_type = 'block' %}
{% set driver_type = 'raw' %}
{% set disk_source = 'dev' %}
{% endif %}
    <disk type='{{ disk_type }}' device='disk'>

{% if vm.disk_driver == 'virtio' %}
{% if vm.iothread_pins is defined %}
      <!--The optional queues attribute specifies the number of queues for the controller. For best performance, it's recommended to specify a value matching the number of vCPUs. Since 1.0.5 (QEMU and KVM only)-->
      <driver name='qemu' type='{{ driver_type }}' cache='writeback' discard='unmap' iothread='1' queues='{{ vm.cores * vm.threads }}'/>
{% else %}
      <driver name='qemu' type='{{ driver_type }}' cache='writeback' discard='unmap' queues='{{ vm.cores * vm.threads }}'/>
{% endif %}
      <source {{ disk_source }}='{{ vm.disk }}'/>
      <target dev='vda' bus='virtio'/>
      <boot order='1'/>
    </disk>
{% else %}
      <driver name='qemu' type='{{ driver_type }}' cache='writeback' discard='unmap'/>
      <source {{ disk_source }}='{{ vm.disk }}'/>
      <target dev='sdb' bus='sata'/>
      <boot order='1'/>
    </disk>
{% endif %}
{% endif %}

    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='/usr/share/virtio-win/virtio-win.iso'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>
    <controller type='pci' index='0' model='pcie-root'/>
    <interface type='network'>
      <source network='default'/>
      <model type='virtio'/>
      <driver queues='{{ vm.cores * vm.threads }}'/>
    </interface>

{% if vm.audio_input_device is defined or vm.audio_output_device is defined %}
    <sound model='ich9'>
    </sound>
    <audio id='1' type='jack'>
{% if vm.audio_input_device is defined %}
      <input clientName='{{ vm.name }}' connectPorts='{{ vm.audio_input_device }}'/>
{% endif %}

{% if vm.audio_output_device is defined %}
      <output clientName='{{ vm.name }}' connectPorts='{{ vm.audio_output_device }}'/>
{% endif %}
    </audio>
{% endif %}

{% if vm.mouse is defined %}
    <input type='evdev'>
      <source dev='{{ vm.mouse }}'/>
    </input>
    <input type='mouse' bus='virtio'/>
{% endif %}

{% if vm.keyboard is defined %}
    <input type='evdev'>
      <source dev='{{ vm.keyboard }}' grab='all' repeat='on'/>
    </input>
    <input type='keyboard' bus='virtio'/>
{% endif %}
    </devices>

      <qemu:commandline>
        <!--Increase resizable bar size to support cards with large VRAM (RTX 4090)-->
        <!--https://forum.level1techs.com/t/solved-rtx-3090-gpu-passthrough-just-displays-a-black-screen-with-qemu/175538/2-->
        <qemu:arg value="-fw_cfg"/>
        <qemu:arg value="opt/ovmf/X-PciMmio64Mb,string=65536"/>
{% if vm.audio_input_device is defined or vm.audio_output_device is defined %}
      <qemu:env name='PIPEWIRE_RUNTIME_DIR' value='/run/user/{{ uid }}'/>
      <qemu:env name='PIPEWIRE_LATENCY' value='512/48000'/>
{% endif %}
    </qemu:commandline>
</domain>
