[Unit]
Description=nas-backup job
After=network-online.target
Wants=network-online.target
Wants=nas-backup.timer

[Service]
Type=simple
ExecStart=/usr/bin/rsync -rtsv --info progress2 --exclude-from %h/.config/nas-backup/exclude --files-from %h/.config/nas-backup/include %h/ %h/nas/desktop/

[Install]
WantedBy=multi-user.target
