[Unit]
Description=Audio effects for PipeWire applications
PartOf=graphical-session.target

[Service]
Type=simple
EnvironmentFile=-%h/.config/sway/env
ExecStart=/usr/bin/easyeffects --gapplication-service

[Install]
WantedBy=sway-session.target