[Unit]
Description=Day/night gamma adjustments for Sway
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env bash -c '/usr/bin/wlsunset $(cat %h/.config/wlsunset/config)'

[Install]
WantedBy=sway-session.target
